.main
  %h1 What is your birthday?
  .main_form
    = form_for @user do |f|
      %h3 Enter name
      = f.text_field :name,placeholder: "full name",class: "main_form_name"
      %h3 Enter birthday
      = f.text_field :birthday,placeholder: "birthday",class: "main_form_birthday"
      %div
      = f.submit "SEND",class: "main_form_btn"
  .main_data
    %h1 My friend's birthday
    - @userdata.each do |user|
      %details.main_data_box
        %summary= user.name
        %p= user.birthday
