%h1 Listing babies

%table
  %thead
    %tr
      %th Name
      %th Age
      %th
      %th
      %th

  %tbody
    - @babies.each do |baby|
      %tr
        %td= baby.name
        %td= baby.age
        %td= link_to 'Show', baby
        %td= link_to 'Edit', edit_baby_path(baby)
        %td= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Baby', new_baby_path
